<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Usuario</title>
  <link rel="icon" type="image/JPG" href="../img/logo2.JPG">
  <link rel="stylesheet" href="../estiloFuncional.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="sidebar" id="sidebar">

</body>
        <div class="toggle" onclick="toggleSidebar()">
          <i class="fa-solid fa-bars" style="color: rgb(0, 0, 0);"></i>
        </div>
    
        <div class="MItem" onclick="toggleSidebar()">
          <i class="fa-solid fa-circle-user"
          style="color: rgb(0, 0, 0);
          font-size: 45px;"
          onclick="event.stopPropagation(); irA('../Usuario/usuario.html')"></i>
          <span class="MT" onclick="event.stopPropagation(); irA('../Usuario/usuario.html')">Perfil</span>
        </div>
    
        <div class="MItem" onclick="toggleSidebar()">
          <i class="fa-solid fa-house"
          style="color: rgb(0,0,0); font-size: 25px;"
          onclick="event.stopPropagation(); irA('../Menu/Menu.html')" ></i>
          <span class="MT" onclick="event.stopPropagation(); irA('../Menu/Menu.html')">Inicio</span>
        </div>
    
        <div class="MItem" onclick="toggleSidebar()">
          <i class="fa-solid fa-money-bills"
          style="color: rgb(0, 0, 0); font-size: 25px;"
          onclick="event.stopPropagation(); irA('../Mi_Dinero/Dinero.html')" ></i>
          <span class="MT" onclick="event.stopPropagation(); irA('../Mi_Dinero/Dinero.html')">Mi Dinero</span>
        </div>
    
        <div class="MItem" onclick="toggleSidebar()">
          <i class="fa-solid fa-flag-checkered"
          style="color: rgb(0,0,0); font-size: 25px;"
          onclick="event.stopPropagation(); irA('../Metas/Metas.html')" ></i>
          <span class="MT" onclick="event.stopPropagation(); irA('../Metas/Metas.html')">Metas</span>
        </div>
      
        <div class="MItem" onclick="toggleSidebar()">
          <i class="fa-solid fa-bell"
          style="color: rgb(0,0,0); font-size: 25px;"
          onclick="event.stopPropagation(); irA('../Notificacion/Notificacion.html')" ></i>
          <span class="MT" onclick="event.stopPropagation(); irA('../Notificacion/Notificacion.html')">Notificaciones</span>
        </div>
    
        <div class="MItem" onclick="toggleSidebar()"  style=" margin-top: auto;">
          <i class="fa-solid fa-gears"
          style="color: rgb(0,0,0); font-size: 45px;"
          onclick="event.stopPropagation(); irA('../Confi/Confi.html')"></i>
          <span class="MT" onclick="event.stopPropagation(); irA('../Confi/Confi.html')"> Configuracion</span>    
        </div>
      </div>

    <div class="CF">
        <div class="FP">
            <img src="../img/9218712.png" alt="perfil">
            <div class="boton">Cambiar Foto</div>
        </div>

        <div class="Prep">
            <div class="P">
                <h2>
                    Perfil
                </h2>
    
                <div class="boton">Cambiar el Nombre de usuario</div>
                <div class="boton">Cambiar el Correo</div>
                
                <h2>
                    Seguridad
                </h2>
    
                <div class="boton">Cambiar contraseña</div>
                
                <h2>
                    Cuenta
                </h2>
    
                <div class="boton">Cerrar sesión</div>
                <div class="boton">Eliminar cuenta</div>
            </div>
        </div>

    </div>


      <script src="../MenuDes.js"></script>
</body>
</html>